/* commun pour tous les types d'articles */

.principale{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: auto;
}
.article1, .article2, .article3, .article4{
    grid-column: 2;
    margin-bottom: 2%;
    margin-top: 1%;    
    padding-bottom: 2%;
    margin-left: 1%;
    border-bottom: solid black 1px;
}
.text{
    font-size: 1.2em;
    font-family: 'handwriting-draft_free-version';
}

h2{
    font-size: 1.5em;
    text-align: center;
}
/* article 1 et article 4 */

.article1, .article4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.article1 img, .article4 img{
    max-width: 50%;    
    object-fit: contain;
    border: solid black 1px;
}
.article1 img{
    margin-left: 5%;
}
.article4 img{
    margin-right: 5%;
}
.article1 p, .article4 p{
    text-align: justify;
}
.article1 .text, .article4 .text{
    margin: 0% 2% 0% 2%;
}


/* article 3 et article 2*/
.article3, .article2{
    display: flex;
    flex-direction: column;
}
.article3 img , .article2 img{
    max-width: 90%;  
    object-fit: contain;  
    border: solid black 1px;
    margin: 0% 5% 0% 5%;
}
.article3 p, .article2 p{
    text-align: center;
}


