@font-face {
    font-family: 'handwriting-draft_free-version';
    src: url(../font/handwriting-draft_free-version.ttf);
}


footer {
    display: block;
    height: 15%;
    width: 100%;
    margin-top: 2%;
    border-top: dotted black 3px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 3% 15% 3% 15%;
}

footer a{
    color: black;
    font-size: 2em;
    text-decoration: none;
    border: dashed black 1px;
    border-radius: 10px;
    padding: 4%;
    font-family: 'handwriting-draft_free-version';
}
footer a:hover{
    box-shadow: 10px 5px 5px black;
}

